<h1 >Hellow Wordl 2</h1>

<input type="text" [(ngModel)]="twoWayBinding"/>

{{twoWayBinding | myCitPipe}}

<br/>
<br/>
{{variable1 | myCitPipe}}<br/><br/>
{{variable2 | myCitPipe}}

<br/>
<br/>
<button (click)="newFunction123('123')">98798798</button>

<div *ngIf="canDisplay">
    I'm a new DIV with NG IF
</div>


<br/>
<br/> 
<h3>Directive Tuts:</h3>

<input type="text" value="Hello" appMyColorDirective/>

<!-- <hr/> Comp 2 <br/>

<app-my-second-comp></app-my-second-comp> -->

<hr/>
<h3>Routes</h3>

<a routerLink="/c2">C2</a>
<a routerLink="/c3">C3</a>

<router-outlet></router-outlet>